$taille:100%;
$couleurInfo:#1E90FF;
$couleurAvertissement:#FF4500;
$couleurDanger:#FF0000;

@mixin boutton($bcolor,$bcolorHover,$width:100%){
	@extend .btn;
	background-color: $bcolor;
	width: $width;

	&:hover{
		color:$bcolor;
		background-color: $bcolorHover;
	}
}

.btn-succes{
	@extend .btn;
	@extend .btn-vert;
	width:$taille;
}

.btn-info{
@include boutton($couleurInfo,#F0FFF0);
}

.btn-avertissment{
@include boutton($couleurAvertissement,#F0FFF0);
}

.btn-danger{
@include boutton($couleurDanger,#F0FFF0);
}