

$colorNav:lightgrey;
$colorHeader:#FFEBCD;

$backColorNavHover:#1E90FF;
$colorNavHover:#F0FFFF;

$backColorNavActive:#F0FFFF;
$colorNavActive:#1E90FF;

.jumbotron{
	margin:1rem;
	display: inline-block;
	width:50%;
	background-color: #DCDCDC;
	padding:2rem 1rem;
	text-align: center;
	border-radius:2rem;
	h5,p{
		padding:1rem;
	}



}


$colorNav:lightgrey;
$backColorNavHover:#1E90FF;
$colorNavHover:#F0FFFF;

$backColorNavActive:#F0FFFF;
$colorNavActive:#1E90FF;

header{
	text-align: center;
	background-color: $colorHeader;

	h1{
		color:#FF8C00;
		font-weight: bold;
	}
}

ul.navbar{

		/*margin-left: 130px;*/
		border:solid 1px black;
		list-style-type: none;
		background-color:$colorNav;
		display:flex;
		justify-content:center;
		flex-direction:row;
		flex-wrap:nowrap;

		li{
			/*margin:1rem;*/
			font-weight: bold;
			padding:1rem;

			&:hover{
				background-color:$backColorNavHover;
				color:$colorNavHover;
				cursor:pointer;
			}

			&:active{
				background-color:$backColorNavActive;
				color:$colorNavActive;

			}

			&.disabled{
				cursor: none;
				opacity: 0.5;

			}

			&.active{
				cursor: none;
				background-color: grey;
			}

		}

}



footer{
	text-align: center;
	background-color: $colorHeader;
}
