@import "typo";
@import "typo1";
@import "boutons";
@import "alertes";
@import "composants";
@import "regle";
/*@import "header";*/

@include grille(100,12,2,1);

body{
  background-color: $colorHeader;
  font-family: comic;
}

header{
  width:100%;
    #logo{
    display: none;
    margin:1rem 0;
    img{
      max-width: 100%;
      height: 100px;
    }
  }

  #haut{
    margin:1rem 0;
  }

  #menu{
    margin:1rem 0;
    ul{
      display: inline-block;
    }
  }

  @media screen and (min-width:620px){
    position:fixed;
    top:0;
    box-sizing: border-box;
    margin:-0.1rem;
    #logos{
      display:flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;

      #logo{
        display: block;
      }

   }
   #menu{
    text-align: center;
     .navbar{
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
    }
   }
  }
}


section{
/*  margin-top: 150px;
  /*min-width:347px;*/
  box-sizing: border-box;
  padding:1rem 0;
  background-color: white;
  width:80%;
  margin :1rem auto 2rem auto;
  border-radius:1rem;
  text-align: center;


  h4{
    margin: 1rem 0;
  }
  #newAnnonce{

    /*margin:1%;
    width: 80%;
    margin: 0 auto;
    text-align: center;

    .champForm{
      width:100%;
      margin-bottom: 1rem;
    }

    .btn{
      margin-top: 2rem;

    }*/
    text-align: center;
    input,select,textarea{
      width:95%;
    }

    .btn{
      margin-top:2rem;
      text-decoration: none;
    }

    form.photoAjout{
      input{
        width:25%;
      }
    }

    @media screen and (min-width:620px){
      width:70%;
      margin:auto;
    }

    @media screen and (min-width:1200px){
      width:50%;
      margin:auto;
    }


  }

  .categorie{
    text-align: center;
    margin-bottom: 2rem;
    img{
      height:4em;
      width:4em;
      vertical-align: middle;
      display:none;
      @media screen and (min-width:620px){
        display:inline-block;
      }
    }

    a{
      vertical-align: middle;
    }

    @media screen and (min-width:620px){
      display: inline-block;
      box-sizing: border-box;
      width:50%;
      margin-left: -1rem;
    }

    @media screen and (min-width:1200px){
      display: inline-block;
      box-sizing: border-box;
      width:20%;
    }

  }

  .annonce{
    margin:1%;
    padding:0.5rem;
    @extend %bordurePetitCadre;
    text-align: center;
    box-sizing: border-box;

    /*.contenu,img{
      display: inline-block;
      border-radius: 1rem 0 0 0;
      vertical-align: top;
      box-sizing: border-box;
      width:50%;
      margin:-0.1rem;
    }

    .contenu{
      padding-left: 0.5rem;
      &>p.description{
        display:none;
        @media screen and (min-width:620px){
          display:inline-block;
        }
      }
    }*/
    @media screen and (min-width:620px){
      .contenu,img{
        display: inline-block;
        border-radius: 1rem 0 0 0;
        vertical-align: top;
        width:50%;
        margin:-0.1rem;
      }

    }
    @media screen and (min-width:1200px){
      display:inline-block;
      width:32%;
      margin:-0.1rem;


    }

  }

  #photo{
    width:80%;
    text-align: center;
    margin:0 auto 1rem auto;
      img{
        display:block;
        margin:auto;
        margin-bottom: 0.5rem;
      }

      @media screen and (min-width:1200px){
        text-align:inherit;
        img{
        display:inline-block;
        margin: -0.1rem;

        }
      }
    }


  #contenu{
    width:80%;
    text-align: center;
    margin:0 auto 1rem auto;
    @extend %bordureCadre;

  }

  #gestion{
    margin: 0.5rem;
    text-align: center;

    .btn{
      width:90%;
      text-decoration: none;
      box-sizing: border-box;
      @media screen and (min-width:1200px){
        width:33%;
        margin:-0.1rem;
      }
    }
  }

  @media screen and (min-width:620px){
    margin:15rem auto 2rem auto;
  }
}

#recherche{
  .recherche{
    text-align: center;
    input,select{
      width:95%;
    }

    .btn{
      margin-top:2rem;

    }

    @media screen and (min-width:620px){
      width:70%;
      margin:auto;
    }

    @media screen and (min-width:1200px){
      width:50%;
      margin:auto;
    }

  }
}

#liste{
  text-align: center;

  h4{
    text-align: center;
  }
}

form.login{
    text-align: center;
    input{
      width:95%;
      margin-bottom:1rem;
    }

    @media screen and (min-width:620px){
      width:70%;
      margin:auto;
    }

    @media screen and (min-width:1200px){
      width:50%;
      margin:auto;
    }

}


footer{
  padding:1rem 0;
  @media screen and (min-width: 620px){
    position:fixed;
    bottom:0;
  }
  width:100%;
}
