@mixin grille($largeur, $colonne, $goulotte, $marge){
    $taille_col : ($largeur/$colonne)-$goulotte;
    body{
        display: table;
        width: 100%;
        table-layout: fixed;
        word-spacing: -2em;
    }

    %col{
        margin-right: 0% + $marge;
        margin-left: 0% + $marge;
        display: inline-block;
        box-sizing: border-box;
        word-spacing: normal;
        /*overflow: auto;*/
    }

    @for $i from 1 through $colonne{
        .col#{$i}
        {
            @extend %col;
            width: 1% * $taille_col * $i + $goulotte * ($i - 1);
        }
    }

    @for $j from 1 through $colonne - 1{
        .off#{$j}{
            margin-left: 0% + $taille_col * $j + $goulotte * $j + $marge
        }
    }
}

%bordureCadre{
  border:1rem solid #A9A9A9;
  border-radius: 1rem;
  margin:0.5rem;
}

%bordurePetitCadre{
  border:0.5rem solid #A9A9A9;
  border-radius: 1rem;
}
